body {
    background-image: url('background.png');
    background-repeat: repeat;
}

h1 {
    background-color: hsl(274, 44%, 29%);
    padding: 10px;
    font-family: monospace;
    font-size: xxx-large;
    border: 2px solid hsl(272, 42%, 14%);
}

a {
    font-family: Verdana;
    color:  hsla(246, 92%, 41%, 0.863);
}