body {
    background-image: url('background.png');
    background-repeat: repeat;
}

h1 {
    color: #00000065;
    background-color: hsl(274, 44%, 29%);
    margin: auto;
    padding: 10px;
    padding-block-end: 2%;
    padding-block-start: 2%;
    font-family: monospace;
    font-size: xxx-large;
    border: 2px solid hsl(272, 42%, 14%);
    text-align: center;
}

a:link, :visited {
    /*font-family: 'Times New Roman', Times, serif;*/
    background-color: hsl(274, 44%, 29%);
    color: hsla(0, 0%, 0%, 0.438);
    border: 2px solid hsl(272, 42%, 14%);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

img {
    background-color: hsl(272, 42%, 14%);
    /*!>border: 3px solid hsl(272, 42%, 14%);*/
    float:left;
    width:33px;
    height:33px;
}

pre {
    padding: 10px;
    background-image: url("yazı-background.png");
    background-size: auto;
    text-align: center;
    position: relative;
    top: -16px;
    font-family: 'Times New Roman';
    
    
}

